.btn {
    border: none;
    border-radius: 4px;
    
    background-color: var(--main-darker-gray);
    color: var(--text-color-light);

    padding: 5px 10px;
}

.btn:hover {
    color: var(--main-color);
    cursor: pointer;
}