.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: scroll;
}

.heading {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: var(--main-dark-gray);
  color: var(--main-color);
  text-align: center;
}

.friendContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin: 10px; */
  padding: 10px 20px 20px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.friendContainer:hover {
  background-color: var(--main-dark-gray);
  color: var(--main-color);
}

.imgStyle {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
