.commentContainer {
  color: var(--main-color);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  background-color: #dcdcdc;

}

.commentContainer:hover {
}

.userInfo {
  display: flex;
}

.userInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
}

.commentUsername {
  font-weight: bold;
}

.main {
  background-color: var(--main-gray);
  padding: 5px 15px;
  border-radius: 5px;
}
