.container {
  color: #fff;
  padding: 10px 15px;

  max-height: 400px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stats {
  display: flex;
  font-size: 20px;
  gap: 10px;
}

.statItem {
  padding: 5px 10px;
  border-radius: 5px;
}

.statItem:hover {
  cursor: pointer;
  background-color: #444;
}
