.createPostContainer {
    display: flex;
    gap: 16px;
    padding: 10px 20px;
    margin-bottom: 42px;

    background-color: var(--background-color-lighter);
    box-shadow: 0px 12px 20px 10px #d9d9d9;
}