.post {
  width: 70%;
  background-color: #2a2a2a73;
  border-radius: 10px;
  padding: 20px 30px 10px 30px;
}

.userInfo {
  display: flex;
  align-items: center;
  font-size: 16px;

  margin-bottom: 16px;
}

.userInfoImg {
  width: 40px;
  border-radius: 9999px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.createdAgo {
  font-size: 14px;
}

.image {
  display: flex;
  justify-content: center;
}

.postImage {
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.btnAction {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: transparent;
  border-bottom: 2px solid #727272;
  color: inherit;
  transition: 0.3s all;
}

.btnAction:hover {
  background-color: #2c2825;
  border-bottom: 2px solid #fcd34d;
  cursor: pointer;
}

.likes:hover {
  text-decoration: underline;
  cursor: pointer;
}
